html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  padding-inline-start: 0;
}

:root {
  --font-family-Open-Sans: "Open Sans", arial, sans-serif;
  --font-family-monospace: "Lucida Console", courier, monospace;
  --material-symbol-font: "Material Symbols Outlined";
  --bk-primary-red: #e70033;
  --bk-primary-orange: #ff7633;
  --bk-primary-yellow: #f1c319;
  --bk-primary-green: #6fd85a;
  --bk-primary-blue: #0093c9;
  --bk-primary-purple: #652f6c;
  --bk-black: #000;
  --bk-white: #fff;
  --bk-gray-100: #f8f9fa;
  --bk-gray-200: #e5ebed;
  --bk-gray-300: #dee2e6;
  --bk-gray-400: #ced4da;
  --bk-gray-500: #adb5bd;
  --bk-gray-600: #5f6a72;
  --bk-gray-700: #495057;
  --bk-gray-800: #333d47;
  --bk-gray-900: #212529;
  --bk-gray-light: #F5F5F5;
  --bk-gray-medium: #EAEDF1;
  --bk-gray: #959595;
  --bk-gray-dark: #323232;
  --bk-gray-darker: #0C0D0D;
  --bk-gray-border: #D9D9D9;
  --bk-text-color: var(--bk-gray-800);
  --bk-text-color-light: var(--bk-gray-600);
  --bk-link-color: #0076a3;
  --bk-link-hover-color: var(--bk-gray-800);
  --bk-disabled: var(--bk-gray-400);
  --bk-page-background: #f7f7f7;
  --bk-borders: var(--bk-gray-border);
  --bk-borders-light: var(--bk-gray-400);
  --bk-borders-dark: var(--bk-gray-600);
  --bk-shadow-red: #80001c;
  --bk-shadow-orange: #802a00;
  --bk-shadow-yellow: #98700c;
  --bk-shadow-green: #225b15;
  --bk-shadow-blue: #005675;
  --bk-shadow-purple: #431f47;
  --bk-highlights-red: #ffe7ec;
  --bk-highlights-orange: #ffe5cc;
  --bk-highlights-yellow: #fff4cc;
  --bk-highlights-green: #dbffcc;
  --bk-highlights-blue: #cdf3ff;
  --bk-highlights-purple: #f9ccff;
  --bk-color-ui-medium-background: var(--bk-gray-100);
  --bk-color-ui-dark-background: var(--bk-gray-800);
  --bk-color-ui-error-background: #ffebef;
  --bk-color-ui-alert-background: #eaf5fc;
  --bk-color-ui-overlay: var(--bk-gray-900);
  --bk-status-red: var(--bk-primary-red);
  --bk-status-orange: #ff9633;
  --bk-status-yellow: #ffd332;
  --bk-status-green: #3fae29;
  --bk-status-blue: #6EB6FF;
  --bk-status-purple: #9e00b3;
  --bk-accessibility-focus-color: #0f62fe;
}

body {
  font-size: 16px;
  background-color: #d9d9d9;
  font-family: var(--font-family-Open-Sans);
  color: var(--bk-text-color);
}
body header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background: #13589c;
  color: white;
  font-size: 1rem;
  width: 100%;
  z-index: 10;
  height: 65px;
}
body header h2 {
  margin-bottom: 0;
}
body .wallet-main {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  height: calc(100% - 65px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F7F7F8;
}
body .wallet-main .wallet-content {
  width: 100%;
  margin: 2rem auto;
  padding: 0.5rem 2rem 2rem 2rem;
  background: var(--bk-white);
  border-radius: 0.25rem;
}
@media (min-width: 992px) {
  body .wallet-main .wallet-content {
    width: 920px;
    border: 1px solid #CCC;
  }
}
body .wallet-main .secure_logo {
  margin-bottom: 3rem;
}

.important-msg {
  position: relative;
  padding: 1rem 0 1rem 2.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}
.important-msg span {
  display: block;
  margin-top: 0.875rem;
}
.important-msg::before {
  font-family: var(--material-symbol-font);
  content: "error";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0.875rem 1rem 0 0;
  font-size: 1.5rem;
}
.important-msg.border-top {
  border-top: 1px solid var(--bk-borders);
}
.important-msg.border-bottom {
  border-bottom: 1px solid var(--bk-borders);
}

.notifications {
  border: 1px solid var(--bk-borders);
  background: #F7F7F8;
  padding: 1rem;
  font-size: 0.875rem;
  position: relative;
  border-radius: 0.25rem;
}
.notifications p {
  font-size: 0.875rem;
  line-height: 1.5;
}
.notifications h4 {
  font-size: 1rem;
  font-weight: 600;
}
.notifications.alert-deposit {
  padding-left: 3rem;
}
.notifications.alert-deposit::before {
  font-family: var(--material-symbol-font);
  content: "error";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0.875rem 1rem;
  font-size: 1.5rem;
}
.notifications.requests .header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1rem !important;
}
.notifications.requests .header h2 {
  font-size: 1.125rem;
}
.notifications.requests .header h2 img {
  display: block;
  color: red;
  margin-bottom: 0.5rem;
}
.notifications.requests .header span {
  font-size: 0.875rem;
  font-weight: 600;
  text-align: end;
}
.notifications.requests .accordion-item {
  border-radius: 0.25rem;
  background: var(--bk-white);
  border-width: 2px;
}
.notifications.requests .accordion-item:hover {
  border-color: var(--bk-status-blue);
}
.notifications.requests .accordion-item .accordion-header {
  background: #fff;
  padding: 0 1rem;
  border-radius: 0.25rem;
}
.notifications.requests .accordion-item .accordion-header button {
  gap: 0.875rem;
  margin: 0.75rem 0;
  position: relative;
  flex-wrap: wrap;
}
.notifications.requests .accordion-item .accordion-header button img {
  height: 26px;
  margin-bottom: 0;
  order: 1;
}
.notifications.requests .accordion-item .accordion-header button span {
  font-size: 1rem !important;
  font-weight: 400;
  line-height: initial;
  order: 3;
  flex-basis: 100%;
  padding-right: 2rem;
}
.notifications.requests .accordion-item .accordion-header button span strong {
  font-weight: 600;
}
.notifications.requests .accordion-item .accordion-header button span.status {
  background: #ccc;
  display: block;
  padding: 0.75rem;
  border-radius: 14px;
  font-size: 0.875rem !important;
  font-weight: 600;
  line-height: unset;
  order: 2;
  flex: 0;
}
.notifications.requests .accordion-item .accordion-header button span.status.pending {
  background: #F8DD8A;
}
.notifications.requests .accordion-item .accordion-header button span.status.denied {
  background: #FFC6C9;
}
.notifications.requests .accordion-item .accordion-header button span.status.approved {
  background: #C3EAB1;
}
.notifications.requests .accordion-item .accordion-header button::after {
  position: absolute;
  right: 0;
}
@media (min-width: 992px) {
  .notifications.requests .accordion-item .accordion-header button {
    margin: 0;
    gap: 1rem;
    flex-wrap: unset;
  }
  .notifications.requests .accordion-item .accordion-header button img {
    height: 40px;
    order: unset;
  }
  .notifications.requests .accordion-item .accordion-header button span {
    order: unset;
    flex-basis: unset;
    padding-right: 0;
  }
  .notifications.requests .accordion-item .accordion-header button span.status {
    order: unset;
  }
  .notifications.requests .accordion-item .accordion-header button::after {
    position: unset;
  }
}
.notifications.requests .accordion-item .accordion-collapse {
  background: #fff;
}
.notifications.requests .accordion-item .accordion-collapse .accordion-body {
  padding: 0 1rem 1rem 1rem;
}
.notifications.requests .accordion-item .accordion-collapse .accordion-body > div.row {
  border-top: 1px solid var(--bk-borders);
  padding-top: 1.5rem;
}

.notifications + .btn-link {
  margin-top: 1rem;
}

.deposit-method {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--bk-borders);
  margin-bottom: 1rem;
}
.deposit-method h2 {
  font-size: 1.125rem;
  margin-bottom: 0;
}
.deposit-method p {
  color: var(--bk-primary-blue);
  font-weight: 600;
}
.deposit-method img {
  position: absolute;
  left: 0;
  width: 50px;
}

.deposit-approved, .deposit-pending, .deposit-denied {
  text-align: center;
  margin-bottom: 1.5rem;
}
.deposit-approved .icon, .deposit-pending .icon, .deposit-denied .icon {
  display: inline-flex;
  background: #FFF;
  border: 2px solid green;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-bottom: 0.5rem;
  align-items: center;
  justify-content: center;
}
.deposit-approved .icon span, .deposit-pending .icon span, .deposit-denied .icon span {
  color: green;
  font-size: 3rem;
}
.deposit-approved p, .deposit-pending p, .deposit-denied p {
  font-size: 1.125rem;
  font-weight: 600;
  color: green;
  margin-bottom: 0;
}
.deposit-denied .icon {
  border: none;
}
.deposit-denied .icon span {
  color: #BD3D44;
  font-size: 3.7rem;
  font-weight: 400;
}
.deposit-denied p {
  color: #BD3D44;
}
.deposit-pending .icon {
  border: none;
}
.deposit-pending .icon span {
  color: var(--bk-gray-dark);
  font-size: 3.7rem;
  font-weight: 400;
}
.deposit-pending p {
  color: var(--bk-gray-dark);
}

.bonus-check-list {
  padding: 0 0 0 2rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.withdrawal-img {
  width: 1.5rem;
  margin-bottom: 0.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
  line-height: 1.618;
}

h1,
.h1 {
  font-size: 2rem;
  line-height: 2.75rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

h2,
.h2 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

h3,
.h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

h4,
.h4 {
  font-size: 1.25rem;
  line-height: 2rem;
  margin-bottom: 0;
  font-weight: 600;
}

h5,
.h5,
h6,
.h6 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: 0;
  font-weight: 600;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

.text-xs {
  font-size: 0.75rem !important;
}

.text-sm {
  font-size: 0.875rem !important;
}

.text-base {
  font-size: 1rem !important;
}

.text-lg {
  font-size: 1.125rem !important;
}

.text-xl {
  font-size: 1.25rem !important;
}

.text-2xl {
  font-size: 1.5rem !important;
}

.text-3xl {
  font-size: 1.75rem !important;
}

.text-4xl {
  font-size: 2rem !important;
}

.font-light {
  font-weight: 300 !important;
}

.font-normal {
  font-weight: 400 !important;
}

.font-medium {
  font-weight: 500 !important;
}

.font-semibold {
  font-weight: 600 !important;
}

.font-bold {
  font-weight: 700 !important;
}

a.betui-button-primary,
button.betui-button-primary {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  min-height: 2.25rem;
  align-items: center;
  border-radius: 0.25rem;
  box-sizing: content-box;
  padding: 0 1rem;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 600;
  text-transform: initial;
  line-height: inherit;
  flex-wrap: wrap;
  gap: 0.875rem;
  border: 2px solid var(--bk-primary-blue);
  background-color: var(--bk-primary-blue);
  color: var(--bk-white);
}
a.betui-button-primary span,
button.betui-button-primary span {
  transform: scale(1.8);
  font-size: inherit;
}
a.betui-button-primary.betui-button-md,
button.betui-button-primary.betui-button-md {
  min-height: 1.875rem;
  font-size: 1rem;
}
a.betui-button-primary.betui-button-sm,
button.betui-button-primary.betui-button-sm {
  min-height: 1.5rem;
  font-size: 0.875rem;
}
a.betui-button-primary.full-width,
button.betui-button-primary.full-width {
  width: -webkit-fill-available;
}
a.betui-button-primary:hover, a.betui-button-primary:active,
button.betui-button-primary:hover,
button.betui-button-primary:active {
  border: 2px solid var(--bk-shadow-blue);
  background-color: var(--bk-shadow-blue);
}
a.betui-button-primary:disabled,
button.betui-button-primary:disabled {
  border: 2px solid var(--bk-disabled);
  background-color: var(--bk-disabled);
  cursor: not-allowed;
}
a.betui-button-primary:not(:disabled):active, a.betui-button-primary:not(:disabled).active, .show > a.betui-button-primary.dropdown-toggle,
button.betui-button-primary:not(:disabled):active,
button.betui-button-primary:not(:disabled).active,
.show > button.betui-button-primary.dropdown-toggle {
  border: 2px solid var(--bk-shadow-blue);
  background-color: var(--bk-shadow-blue);
  color: var(--bk-white);
}
a.betui-button-secondary,
button.betui-button-secondary {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  min-height: 2.25rem;
  align-items: center;
  border-radius: 0.25rem;
  box-sizing: content-box;
  padding: 0 1rem;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 600;
  text-transform: initial;
  line-height: inherit;
  flex-wrap: wrap;
  gap: 0.875rem;
  border: 2px solid var(--bk-primary-blue);
  background-color: var(--bk-white);
  color: var(--bk-primary-blue);
}
a.betui-button-secondary span,
button.betui-button-secondary span {
  transform: scale(1.8);
  font-size: inherit;
}
a.betui-button-secondary.betui-button-md,
button.betui-button-secondary.betui-button-md {
  min-height: 1.875rem;
  font-size: 1rem;
}
a.betui-button-secondary.betui-button-sm,
button.betui-button-secondary.betui-button-sm {
  min-height: 1.5rem;
  font-size: 0.875rem;
}
a.betui-button-secondary.full-width,
button.betui-button-secondary.full-width {
  width: -webkit-fill-available;
}
a.betui-button-secondary:hover, a.betui-button-secondary:active, a.betui-button-secondary:visited, a.betui-button-secondary:target,
button.betui-button-secondary:hover,
button.betui-button-secondary:active,
button.betui-button-secondary:visited,
button.betui-button-secondary:target {
  border: 2px solid var(--bk-shadow-blue);
  background-color: var(--bk-gray-100);
  color: var(--bk-shadow-blue);
}
a.betui-button-secondary:disabled,
button.betui-button-secondary:disabled {
  border: 2px solid var(--bk-disabled);
  background-color: var(--bk-page-background);
  color: var(--bk-disabled);
  cursor: not-allowed;
}
a.betui-button-secondary:not(:disabled):active, a.betui-button-secondary:not(:disabled).active, .show > a.betui-button-secondary.dropdown-toggle,
button.betui-button-secondary:not(:disabled):active,
button.betui-button-secondary:not(:disabled).active,
.show > button.betui-button-secondary.dropdown-toggle {
  border: 2px solid var(--bk-primary-blue);
  background-color: var(--bk-gray-100);
  color: var(--bk-primary-blue);
}
a.betui-button-secondary.betui-button-filter,
button.betui-button-secondary.betui-button-filter {
  border: 2px solid var(--bk-white);
  font-size: 0.875rem;
  color: #424242;
  gap: 0.5rem;
  padding: 0 0.5rem;
  font-weight: 300;
}
@media (max-width: 1199.98px) {
  a.betui-button-secondary.betui-button-filter,
  button.betui-button-secondary.betui-button-filter {
    margin-left: auto;
  }
}
a.betui-button-secondary.betui-button-filter:hover, a.betui-button-secondary.betui-button-filter:active, a.betui-button-secondary.betui-button-filter:visited, a.betui-button-secondary.betui-button-filter:target,
button.betui-button-secondary.betui-button-filter:hover,
button.betui-button-secondary.betui-button-filter:active,
button.betui-button-secondary.betui-button-filter:visited,
button.betui-button-secondary.betui-button-filter:target {
  border: 2px solid var(--bk-gray-100);
  background-color: var(--bk-gray-100);
  color: var(--bk-shadow-blue);
  color: #424242;
}
a.betui-button-secondary.betui-button-filter .refresh,
button.betui-button-secondary.betui-button-filter .refresh {
  font-size: 0.875rem;
  font-weight: 300;
  transform: none;
  color: #424242;
}
@media (max-width: 1199.98px) {
  a.betui-button-secondary.betui-button-filter .refresh,
  button.betui-button-secondary.betui-button-filter .refresh {
    display: none;
  }
}
a.betui-button-secondary.betui-button-filter .reset-time,
button.betui-button-secondary.betui-button-filter .reset-time {
  font-size: 0.875rem;
  transform: none;
  border-left: 1px solid #999999;
  padding-left: 0.5rem;
  font-weight: 300;
  color: #999999;
}
a.betui-button-tertiary,
button.betui-button-tertiary {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  min-height: 2.25rem;
  align-items: center;
  border-radius: 0.25rem;
  box-sizing: content-box;
  padding: 0 1rem;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 600;
  text-transform: initial;
  line-height: inherit;
  flex-wrap: wrap;
  gap: 0.875rem;
  border: 2px solid transparent;
  background: transparent;
  color: var(--bk-primary-blue);
}
a.betui-button-tertiary span,
button.betui-button-tertiary span {
  transform: scale(1.8);
  font-size: inherit;
}
a.betui-button-tertiary.betui-button-md,
button.betui-button-tertiary.betui-button-md {
  min-height: 1.875rem;
  font-size: 1rem;
}
a.betui-button-tertiary.betui-button-sm,
button.betui-button-tertiary.betui-button-sm {
  min-height: 1.5rem;
  font-size: 0.875rem;
}
a.betui-button-tertiary.full-width,
button.betui-button-tertiary.full-width {
  width: -webkit-fill-available;
}
a.betui-button-tertiary:hover, a.betui-button-tertiary:active, a.betui-button-tertiary:visited, a.betui-button-tertiary:target,
button.betui-button-tertiary:hover,
button.betui-button-tertiary:active,
button.betui-button-tertiary:visited,
button.betui-button-tertiary:target {
  border: 2px solid transparent;
  background: transparent;
  color: var(--bk-shadow-blue);
}
a.betui-button-tertiary:disabled,
button.betui-button-tertiary:disabled {
  border: 2px solid transparent;
  background: transparent;
  color: var(--bk-disabled);
  cursor: not-allowed;
}
a.betui-button-tertiary:not(:disabled):active, a.betui-button-tertiary:not(:disabled).active, .show > a.betui-button-tertiary.dropdown-toggle,
button.betui-button-tertiary:not(:disabled):active,
button.betui-button-tertiary:not(:disabled).active,
.show > button.betui-button-tertiary.dropdown-toggle {
  border: 2px solid transparent;
  background: transparent;
  color: var(--bk-primary-blue);
}
a.betui-button-link,
button.betui-button-link {
  border: none;
  background: none;
  color: var(--bk-link-color);
  cursor: pointer;
  font-size: 1rem;
  font-family: inherit;
  padding: 0;
}
a.betui-button-link:hover, a.betui-button-link:active, a.betui-button-link:active:focus,
button.betui-button-link:hover,
button.betui-button-link:active,
button.betui-button-link:active:focus {
  color: var(--bk-shadow-blue);
}
a.betui-button-link:disabled,
button.betui-button-link:disabled {
  color: var(--bk-disabled) !important;
  cursor: not-allowed;
}
a.betui-button-link.betui-button-sm,
button.betui-button-link.betui-button-sm {
  font-size: 0.875rem;
}

.btn-lines {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  height: 2.25rem;
  align-items: center;
  border-radius: 0.25rem;
  box-sizing: content-box;
  padding: 0 1rem;
  cursor: pointer;
  border: none;
  font-size: 0.875rem;
  font-family: inherit;
  font-weight: 600;
  text-transform: capitalize;
  line-height: inherit;
  flex-wrap: wrap;
  gap: 0.875rem;
  background-color: var(--bk-gray-medium);
  border: 2px solid var(--bk-gray-medium);
  color: var(--bk-text-color);
}
.btn-lines span {
  display: flex;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: capitalize;
  line-height: inherit;
}
.btn-lines.lines-button-md {
  height: 1.875rem;
  font-size: 1rem;
}
.btn-lines.lines-button-sm {
  height: 1.5rem;
  font-size: 0.875rem;
}
.btn-lines.full-width {
  width: -webkit-fill-available;
}
.btn-lines:hover {
  background-color: var(--bk-gray-medium);
  border: 2px solid var(--bk-primary-blue);
  color: var(--bk-primary-blue);
}
.btn-lines:active, .btn-lines.selected {
  background-color: var(--bk-primary-blue);
  border: 2px solid var(--bk-primary-blue);
  color: var(--bk-white);
}
.btn-lines:disabled, .btn-lines.no-available {
  background-color: var(--bk-white);
  border: 2px solid var(--bk-gray-medium);
  display: flex;
  cursor: not-allowed;
}
.btn-lines:disabled span, .btn-lines.no-available span {
  visibility: hidden;
  font-size: 0;
}
.btn-lines:disabled span::before, .btn-lines.no-available span::before {
  visibility: visible;
  font-family: var(--material-symbol-font);
  content: "lock";
  font-weight: 300;
  font-size: 1.25rem;
}
.btn-lines:disabled:hover, .btn-lines.no-available:hover {
  background-color: var(--bk-white);
}
.btn-lines:disabled:hover span::before, .btn-lines.no-available:hover span::before {
  color: var(--bk-text-color);
}
.btn-lines.all-wagers {
  gap: 0.5rem;
  border-radius: 25px;
  color: var(--bk-primary-blue);
  width: auto;
  padding: 0 0.75rem;
}
.btn-lines.all-wagers span {
  font-size: 1rem;
  color: var(--bk-primary-blue);
}
.btn-lines.all-wagers:active, .btn-lines.all-wagers:hover {
  background-color: var(--bk-gray-medium);
}

.form-submit {
  color: #292929;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.form-submit span {
  font-size: 1.8rem;
}
.form-submit:hover span {
  color: var(--bk-primary-blue);
}

.view-deposits {
  position: relative;
}
.view-deposits::before {
  position: absolute;
  content: "";
  display: block;
  top: 1.5rem;
  border: 1px solid var(--bk-gray-medium);
  width: 100%;
}
.view-deposits .accordion-button {
  width: auto;
  padding: 1rem 2rem !important;
  margin: 0 auto !important;
  position: relative;
}
.view-deposits .accordion-button span {
  font-size: 1rem !important;
  position: relative;
  color: #0093c9;
}
.view-deposits .accordion-button span .moreless::before {
  display: inline-block;
  content: "more ";
}
.view-deposits .accordion-button::after {
  display: none;
}
.view-deposits .accordion-button:not(.collapsed) span .moreless::before {
  content: "less ";
}
.view-deposits .accordion-button:not(.collapsed)::before {
  transform: var(--bs-accordion-btn-icon-transform);
}
.view-deposits .accordion-button::before {
  font-family: var(--material-symbol-font);
  content: "expand_more";
  top: 2.5rem;
  position: absolute;
  font-size: 2rem;
  color: #0093c9;
  font-weight: 400;
  transition: var(--bs-accordion-btn-icon-transition);
}

.btn-link {
  display: flex;
  text-decoration: none;
  font-weight: 600;
  padding: 0 0 0.875rem 0;
  color: var(--bk-primary-blue);
}

.btn-deposit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid var(--bk-gray-medium);
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background: var(--bk-white);
  position: relative;
  padding-left: 100px;
  padding-right: 50px;
  min-height: 105px;
  justify-content: center;
  text-align: left;
}
.btn-deposit img {
  position: absolute;
  left: 16px;
  top: 18px;
  with: 70px;
  width: 60px;
}
.btn-deposit h5 {
  margin-bottom: 0;
}
.btn-deposit p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.875rem;
}
.btn-deposit p.offer {
  color: var(--bk-status-blue);
  font-weight: 600;
}
.btn-deposit::after {
  font-family: var(--material-symbol-font);
  content: "arrow_forward_ios";
  position: absolute;
  right: -2px;
  background: var(--bk-status-blue);
  color: var(--bk-white);
  top: -2px;
  bottom: -2px;
  padding: 12px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.btn-deposit:active, .btn-deposit:hover {
  background-color: var(--bk-gray-light);
  border: 2px solid #13589c;
}
.btn-deposit:active p.offer, .btn-deposit:hover p.offer {
  color: #13589c;
}
.btn-deposit:active::after, .btn-deposit:hover::after {
  background: #13589c;
}

.badge-container {
  display: flex;
  flex-wrap: wrap;
}
.badge-container .badge {
  margin: 0.25rem 0;
}
.badge-container .badge:not(:last-of-type) {
  margin-right: 1rem;
}

.badge {
  display: inline-block;
  padding: 0.35rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 0.5rem;
  border: 1px solid transparent;
}
.badge.badge-default {
  background-color: #edeff1;
  color: #4d555f;
  border-color: #4d555f;
}
.badge.badge-primary {
  background-color: #cdf0d7;
  color: #2b9348;
  border-color: #2b9348;
}
.badge.badge-yellow {
  background-color: #F2C94C;
  color: var(--bk-text-color);
  border-color: #e8b906;
}
.badge.badge-orange {
  background-color: #fef0ea;
  color: #f86624;
  border-color: #f86624;
}
.badge.badge-red {
  background-color: #fdeeef;
  color: #ea3546;
  border-color: #ea3546;
}
.badge.badge-purple {
  background-color: #e4d5f3;
  color: #662e9b;
  border-color: #662e9b;
}
.badge.badge-inactive {
  background-color: #E7E7E7;
  color: var(--bk-black);
}
.badge.badge-blue {
  background-color: var(--bk-primary-blue);
  color: var(--bk-white);
}
.badge.badge-round {
  border-radius: 1rem;
}
.badge.badge-round.badge-tagged::before {
  left: 0.875rem;
}
.badge.badge-tagged {
  padding-left: 1.5rem;
  position: relative;
}
.badge.badge-tagged::before {
  content: "\f292";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translate(-50%, -50%);
}
.badge.badge-closable {
  padding-right: 1.5rem;
  position: relative;
}
.badge.badge-closable .close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1.5rem;
  cursor: pointer;
  opacity: 0.4;
}
.badge.badge-closable .close:hover {
  opacity: 1;
}
.badge.badge-add {
  padding-left: 1.5rem;
  position: relative;
  color: #b5bbc3;
  min-width: 75px;
}
.badge.badge-add:hover, .badge.badge-add:focus {
  outline: 0;
  border: 1px dotted #b5bbc3;
  color: #4d555f;
}
.badge.badge-add:focus::after {
  display: none;
}
.badge.badge-add::before {
  content: "\f067";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translate(-50%, -50%);
}
.badge.badge-add::after {
  pointer-events: none;
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
}

.label,
label {
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  display: block;
}

.wager-selection .label,
.wager-selection label {
  font-weight: 400;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  display: block;
  color: rgb(146, 146, 146);
}

input,
input.form-control,
select.form-select {
  border: 1px solid #999999;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: var(--bs-border-radius) !important;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
input:focus, input:focus-visible,
input.form-control:focus,
input.form-control:focus-visible,
select.form-select:focus,
select.form-select:focus-visible {
  outline: none !important;
  background-color: var(--bs-body-bg);
  border-color: #292929;
  box-shadow: none;
}

.input-group {
  position: relative;
  margin-left: 0;
}
.input-group > span {
  position: absolute;
  top: 0;
  bottom: 0.5rem;
  background: transparent;
  pointer-events: none;
  color: #222020;
  font-size: 1.75rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.input-group.left-inner-icon span {
  left: 0;
}
.input-group.left-inner-icon input {
  padding-left: 2rem;
}
.input-group.right-inner-icon span {
  right: 0;
}
.input-group.right-inner-icon input {
  padding-right: 2.5rem;
}
.input-group.input-copy .form-submit {
  color: #2083EF;
  font-weight: 600;
  padding: 0 0.65rem 0 0.5rem;
  background: #ECECEC;
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
  border: 1px solid #999999;
  gap: 0.25rem;
}
.input-group.input-copy .form-submit span {
  font-size: 1.5rem;
}
.input-group .form-submit {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  bottom: 0.5rem;
}

.accordion {
  margin-bottom: 0.875rem;
}
.accordion .accordion-button:focus {
  z-index: 3;
  border-color: none;
  outline: 0;
  box-shadow: none;
}
.accordion .accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background: transparent;
  box-shadow: none;
}
.accordion .accordion-item {
  color: var(--bs-accordion-color);
  background: transparent;
  border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}
.accordion .accordion-item h2 {
  line-height: 0;
}
.accordion .accordion-item h2 button {
  font-size: 1.25rem;
  font-weight: 600;
}
.accordion .accordion-header .accordion-button {
  padding: 0 0.25rem 0 0;
  min-height: 64px;
  display: flex;
  background: transparent;
}
.accordion .accordion-header .accordion-button .league-logo {
  height: 2.5rem;
  margin-right: 0.875rem;
}
.accordion .accordion-header .accordion-button span {
  font-size: 1.5rem;
}
.accordion .accordion-body {
  font-size: 0.875rem;
  padding: 1rem 0;
}
.accordion .accordion-body p {
  font-size: 0.875rem;
}
.accordion .accordion-body ul {
  margin-left: 2rem;
}
.accordion .accordion-body ul li {
  margin-bottom: 0.5rem;
  color: var(--bk-text-color);
}
.accordion h2 {
  line-height: 0;
}
.accordion h2 button {
  font-size: 1rem;
}
.accordion.deposit-options {
  margin-bottom: 1rem;
}
.accordion.deposit-options .accordion-item {
  color: var(--bs-accordion-color);
  background-color: var(--bk-white);
  border: none;
}
.accordion.deposit-options .accordion-item h2 {
  line-height: 0;
  background-color: var(--bk-white);
}
.accordion.deposit-options .accordion-item h2 button {
  font-size: 0.875rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--bk-white);
}
.accordion.deposit-options .accordion-item h2 button::after {
  margin-left: unset;
  margin-top: 1rem;
}
.accordion.deposit-options .accordion-body {
  padding: 0;
}
.accordion.withdrawal-rules .accordion-item {
  border: none;
  border-top: 1px solid var(--bk-borders);
  border-radius: 0;
}
.accordion.withdrawal-rules .accordion-item:last-of-type {
  border-bottom: 1px solid var(--bk-borders);
}
.accordion.withdrawal-rules .accordion-item button {
  font-size: 1rem;
}
.accordion.withdrawal-rules .accordion-item .accordion-body {
  padding: 1px 1px 1rem 1px;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
  position: relative;
}
.nav-tabs li {
  margin-bottom: 0;
  position: initial;
  margin-right: 1rem;
}
.nav-tabs li button.nav-link {
  border: none;
  color: #999;
  margin: 0;
  border-bottom: 3px solid white;
  font-size: 0.875rem;
  font-weight: 600;
  display: flex;
  padding: 1rem 1rem 1rem 0;
  gap: 0.25rem;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}
.nav-tabs li button.nav-link:hover {
  background: transparent;
}
.nav-tabs li button.nav-link.active {
  color: var(--bk-primary-blue);
  background-color: var(--bk-white);
  border-bottom: 3px solid var(--bk-primary-blue);
}
.nav-tabs li button.nav-link .badge {
  position: absolute;
  right: -0.5rem;
  top: 1.75rem;
  border: none;
  padding: 0.35rem 0.5rem;
}
@media (min-width: 992px) {
  .nav-tabs li {
    margin-right: 0;
  }
  .nav-tabs li button.nav-link {
    padding: 1rem 1rem;
    gap: 0.5rem;
    align-items: center;
    flex-direction: row;
  }
  .nav-tabs li button.nav-link .badge {
    position: absolute;
    right: -1rem;
    top: 0.25rem;
    border: none;
    padding: 0.35rem 0.5rem;
  }
}

.tab-content {
  padding: 1.5rem 0 0 0;
  font-size: 0.875rem;
}

section {
  padding: 0;
}
@media (min-width: 992px) {
  section {
    width: 50%;
    margin: 0 auto;
  }
}

.withdrawal-method {
  display: inline-flex;
  flex-wrap: wrap;
}
.withdrawal-method .form-check-inline {
  display: inline-flex;
  margin-right: 1rem;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-bottom: 1.5rem;
  padding: 0;
  margin-left: 1rem;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 80px;
}
.withdrawal-method .form-check-input {
  float: unset;
  margin-left: unset;
}
.withdrawal-method label {
  text-align: center;
}
.withdrawal-method label span {
  display: block;
  color: #0093c9;
}

.payout-methods .input-group {
  align-items: center;
}
.payout-methods .input-group .withdrawal-img {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 0.45rem;
  z-index: 100;
  left: 0.5rem;
}
.payout-methods .input-group .form-control {
  padding-left: 2.5rem;
}

.modal-sm {
  min-width: 30vw !important;
}

.modal-md {
  min-width: 60vw !important;
}

.modal-lg, .modal-xl {
  min-width: 80vw !important;
}

.modal-dialog .modal-content {
  min-height: 50vh;
}
.modal-dialog .modal-content .modal-header {
  border-bottom: none;
}
.modal-dialog .modal-content .modal-header .modal-title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.modal-dialog .modal-content .modal-header .modal-title span {
  font-weight: 600;
}
.modal-dialog .modal-content .modal-body {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
}
.modal-dialog .modal-content .modal-body p {
  font-size: 0.875rem;
}
.modal-dialog .modal-content .modal-body .notifications {
  margin-bottom: 2.5rem;
}
.modal-dialog .modal-content .modal-body .notifications .example {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.modal-dialog .modal-content .modal-body .tab-content {
  flex: 1;
  display: flex;
}
.modal-dialog .modal-content .modal-body .tab-content .tab-pane {
  flex: 1;
}
.modal-dialog .modal-content .modal-body .tab-content .tab-pane .centered {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 100%;
}
.modal-dialog .modal-content .modal-footer {
  border-top: none;
}

.btn-group {
  background: var(--bk-white);
}
.btn-group .btn-outline-primary {
  --bs-btn-color: #0093c9;
  --bs-btn-border-color: #0093c9;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0093c9;
  --bs-btn-hover-border-color: #0093c9;
  --bs-btn-focus-shadow-rgb: 13,110,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0093c9;
  --bs-btn-active-border-color: #0093c9;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #0093c9;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0093c9;
  --bs-gradient: none;
}

.form-check-input[type=radio] {
  border: 2px solid #999999;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50% !important;
}
.form-check-input[type=radio]:checked {
  border: 2px solid #0093c9;
  background-color: #0093c9;
}

.form-check-label {
  cursor: pointer;
}

.form-check {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form-check-input {
  clear: left;
}

.form-switch.form-switch-sm {
  margin-bottom: 0.5rem; /* JUST FOR STYLING PURPOSE */
}

.form-switch.form-switch-sm .form-check-input {
  height: 1rem;
  width: 1.75rem;
  border-radius: 2rem;
}

.form-switch.form-switch-md {
  margin-bottom: 1rem; /* JUST FOR STYLING PURPOSE */
}

.form-switch.form-switch-md .form-check-input {
  height: 1.5rem;
  width: 2.75rem;
  border-radius: 3rem;
}

.form-switch.form-switch-lg {
  margin-bottom: 1.5rem; /* JUST FOR STYLING PURPOSE */
}

.form-switch.form-switch-lg .form-check-input {
  height: 2rem;
  width: 3.75rem;
  border-radius: 4rem;
}

.form-switch.form-switch-xl {
  margin-bottom: 2rem; /* JUST FOR STYLING PURPOSE */
}

.form-switch.form-switch-xl .form-check-input {
  height: 2.5rem;
  width: 4.75rem;
  border-radius: 5rem;
}/*# sourceMappingURL=main.css.map */